readme/n8n-workflow-contact-form.json
{
  "name": "Supreme Animation - Contact Form to Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test/contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "contact-form-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Universal Code Node: Maps contact form fields to database schema\n// First name and last name come directly from form (no splitting needed)\n\n// ============================================\n// COMMON FIELD MAPPINGS\n// ============================================\n\n// 1. First Name & Last Name: Direct mapping (no splitting needed)\nconst firstName = ($input.item.json.firstName || $input.item.json.first_name || '').trim() || 'Unknown';\nconst lastName = ($input.item.json.lastName || $input.item.json.last_name || '').trim() || 'User';\n\n// 2. Email: Direct mapping (NOT NULL in DB)\nconst email = ($input.item.json.email || '').trim();\n\n// 3. Service/Project Type: Common mapping (now using service_interest)\nconst serviceNeed = (\n  $input.item.json.service_interest || \n  $input.item.json.serviceNeed || \n  $input.item.json.projectNeed || \n  $input.item.json.serviceInterestedIn || \n  ''\n).trim() || null;\n\n// 4. Message: Direct mapping (NOT NULL in DB - must have value)\nconst message = (\n  $input.item.json.message || \n  $input.item.json.projectDetails || \n  ''\n).trim() || 'No message provided';\n\n// 5. Company: Direct mapping (nullable)\nconst companyName = (\n  $input.item.json.company || \n  $input.item.json.companyName || \n  ''\n).trim() || null;\n\n// 6. Phone: Direct mapping (NOT NULL in DB - must have value)\nconst phone = ($input.item.json.phone || '').trim() || null;\n\n// 7. Budget: Format to notes (nullable)\nconst budget = ($input.item.json.budget || '').trim() || null;\nconst notes = budget ? `Budget: ${budget}` : null;\n\n// 8. WhatsApp Same: Boolean from form (now using whatsapp_same)\nconst whatsappSame = $input.item.json.whatsapp_same === true || $input.item.json.whatsappSame === true || $input.item.json.whatsappSame === 'yes' || false;\n\n// 9. Property URL: Only Real Estate sends this (NOT NULL in DB)\nconst propertyUrl = $input.item.json.property_url || $input.item.json.propertyUrl || null;\n\n// 10. Client ID: From form hidden field\nconst clientId = $input.item.json.client_id || $input.item.json.clientId || '';\n\n// ============================================\n// PREPARE RESULT WITH ALL REQUIRED FIELDS\n// ===========================================\n\nconst result = {\n  first_name: firstName,\n  last_name: lastName,\n  email: email,\n  message: message,\n  service_need: serviceNeed,\n  company_name: companyName,\n  notes: notes,\n  whatsapp_same: whatsappSame,\n  source: $input.item.json.source || 'website-contact-us',\n  status: 'New',\n  client_id: clientId\n};\n\n// Handle phone and property_url (both NOT NULL - must always have values)\nif (clientId === 'real-estate-client-1') {\n  // Real Estate: Phone from form, property_url from form\n  result.phone = phone || 'Not Available';\n  result.property_url = propertyUrl || 'N/A';\n} else if (clientId === 'supreme-animation') {\n  // Animation Studio: Phone optional, property_url is 'N/A'\n  result.phone = phone || 'Not Available';\n  result.property_url = 'N/A';\n} else if (clientId === 'signage-client-1') {\n  // Signage Company: Phone optional, property_url is 'N/A'\n  result.phone = phone || 'Not Available';\n  result.property_url = 'N/A';\n} else {\n  // Default/fallback\n  result.phone = phone || 'Not Available';\n  result.property_url = 'N/A';\n}\n\nreturn { json: result };"
      },
      "id": "code-node",
      "name": "Process Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "message": "={{ $json.message }}",
            "company_name": "={{ $json.company_name }}",
            "service_need": "={{ $json.service_need }}",
            "notes": "={{ $json.notes }}",
            "property_url": "={{ $json.property_url }}",
            "source": "={{ $json.source }}",
            "status": "={{ $json.status }}",
            "whatsapp_same": "={{ $json.whatsapp_same }}",
            "client_id": "={{ $json.client_id }}"
          }
        },
        "options": {}
      },
      "id": "supabase-node",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Contact form submitted successfully\", \"data\": { \"id\": $json.id, \"email\": $json.email, \"status\": $json.status } } }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
